
<div style="margin:10px;"><h3 style="color:green" id="notice"><%= notice %></h3>
  <p>
<div align="center"><p>&nbsp;</p><h1>Oncology Glossary</h1></div>
<p><%= link_to 'Clear database', glossaries_destroy_them_all_path, method: :delete, confirm: 'Are you sure you want to delete the entire database?' %></p>
<p><%= link_to 'Update JCO with these terms', glossaries_update_terms_path, confirm: 'Are you ready to upload these terms to JCO?' %></p>
<p>
  Download:
  <%= link_to "CSV", glossaries_path(format: "csv") %>
</p>

<h3>Import Glossary</h3>

<%= form_tag import_glossaries_path, multipart: true do %>
  <%= file_field_tag :file %>
  <%= submit_tag "Import" %>
<% end %>

<br><br>

<table id="glossaries">
  <tr>
    <th>&nbsp;</th>
    <th>Number</th>
    <th>Name</th>
    <th>Definition</th>
  </tr>

<% @glossaries.each do |glossary| %>
  <tr>
    <td><strong><%= link_to 'Edit', edit_glossary_path(glossary) %></strong>&nbsp;&nbsp;</td>
    <td><%= glossary.number %>&nbsp;</td>
    <td><%= glossary.name %></td>
    <td><%= glossary.definition %></td>
  </tr>
<% end %>
</table>
</div>